.absolute-container.address-absolute-container{
    width: fit-content !important;
}
.address-absolute-main{
    padding: var(--space-m);
}

.address-absolute-row-wrapper{
    display: flex;
    gap: 2rem;
    margin-top: var(--space-m);
    align-items: center;
}
.address-absolute-row-wrapper .absolute-row-left{
    min-width: 8rem;
    width: 50%;
    font-size: var(--font-h5);
}
.address-absolute-row-wrapper .absolute-row-right{
    display: flex;
    gap: 1rem;
}
.address-select-wrapper{
    width: 5rem;
}
.address-btn-wrapper{
 display: flex; 
 gap: 0.5rem;
 margin-top: var(--space-m); 
}
.trip-city-address{
    display: flex;
}
.trip-city-address .trip-city-address-name{
    width: 100%;
}
.trip-city-address .change-option{
    margin-left: var(--space-l);
    text-decoration: underline;
    color: var(--error-500);
    text-decoration-color: var(--error-500);
    cursor: pointer;

}
.address-checkbox-wrapper{
    margin-top: var(--space-s);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.address-checkbox-wrapper .address-absolute-select-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid var(--grey-100);
    border-radius: 0.25rem;
    cursor: pointer;
}